*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-areas: 
  ". content__details"
  "result__video-container content__details"
  "search-form content__details";
  align-items: end;
  gap: 30px;
  width: 1140px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list-container {
  position: relative;
  overflow: hidden auto;
  block-size: 298px;
}

.content__details { 
  max-width: 100%;
  max-height: 100%;
}

.title {
  margin-bottom: 26px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  text-transform: uppercase;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: fill;
}

.result__video-container { 
  margin-bottom: 16px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 399px;
}
.content__list-item {
  padding: 0 3px 0 2px;
}
.content__video-card {
  display: flex;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 194px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.search-form__fieldset {
  margin-bottom: 5px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.content__video-card-title {
  overflow: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-description {
  display: -webkit-box;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__label:has(.search-form__checkbox):hover {
  text-decoration: underline;

}

.search-form__textfield {
  min-width: 225px;
  min-height: 22px;
  border: none;
  border-top: 1px solid rgb(255 255 255);
  border-right: 1px solid transparent;
  border-bottom: 1px solid rgb(255 255 255);
  border-left: 1px solid transparent;
  color: #FFF;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield:active {
  border-right-color: #fff;
  border-left-color: #fff;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 70%);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:not(:active):focus-visible) {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  cursor: pointer;
  inline-size: 19px;
}

.search-form__checkbox:active + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFF;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #FFF;
}

.button {
  min-height: 34px;
  border: 1px solid #fff;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  width: 194px;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:active { 
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.content__card-link_current {
  display: block;
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover { 
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px #fff solid;
  outline-offset: 2px;
}

.result__video-container{
  position: relative;
}
